#blog-home {

    --blog-bg-color: #172C35;
    --blog-subsection-bg-color: #0d1f16;
    --blog-title-bg-color: #22c55e;
    --blog-title-description-color: #d1fae5;

    min-height: 100vh;
    min-height: 100vh;
    background-color: var(--blog-bg-color);

    grid-template-columns: 1fr 2fr 1fr;
    display: grid;
}

#blog-home main {



}

/* -------------------- Favourite Blog Section -------------------- */
#blog-favourite {

    padding: 2rem;
    width: 100%;
    background-color: var(--blog-subsection-bg-color);
    color: var(--blog-title-bg-color);
    
}


#blog-favourite > .title {

    font-style: italic;
    font-size: 3rem;
    border-bottom: 1px solid var(--blog-title-description-color);

}

#blog-favourite > .items {

    margin-top: 30px;

}

/* -------------------- Favourite Blog Item -------------------- */
#blog-favourite-item {
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
    inline-size: 100%;
    border-bottom: 1px dashed var(--blog-title-description-color);
}

#blog-favourite-item:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

#blog-favourite-item > .title {

    font-size: 1.1rem;
    padding: 5px 0px ;
    color: var(--blog-title-description-color);
}

#blog-favourite-item > .date {

    white-space: nowrap;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    color: var(--blog-title-bg-color);
    
}

/* -------------------- All Blog List -------------------- */

/* ------- Category Tab ------- */
#blog-home #category-tab {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 1.2rem;
    margin-top: 35px;
    margin-bottom: 35px;
    color: var(--blog-title-description-color);
}

#category-tab .category-container {
    padding: 8px 20px;
    border: 1px solid var(--blog-title-description-color);
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#category-tab .category-container.active {
    background-color: #22c55e;
    color: white;
    border-color: #22c55e;
}

#category-tab .category-container:hover {
    background-color: rgba(34, 197, 94, 0.2);
}

/* ------- Blog List ------- */
#blog-list {

    background-color: var(--blog-subsection-bg-color);
    padding: 32px;

}