.about-container {
  font-family: 'monospace', monospace;
  background-color: #172C35;
  color: #e0e0e0;
  padding: 20px;
  padding-top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1px;
}

.about-container .left-column, .right-column{
  display: flex;
  gap: 1px;
  flex-direction: column;
  height: 100%;
}

.about-container .left-column > :last-child, .right-column > :last-child {
  flex-grow: 1;
}

.about-container .left-column > * {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.about-container .right-column > * {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.about-container .left-column > :first-child {
  border-top-left-radius: 20px;
}

.about-container .left-column > :first-child {
  border-top-left-radius: 20px;
}

.about-container .left-column > :last-child {
  border-bottom-left-radius: 20px;
}

.about-container .right-column > :first-child {
  border-top-right-radius: 20px;
}

.about-container .right-column > :last-child {
  border-bottom-right-radius: 20px;
}

.terminal-pane {
  background-color: #000;
  padding: 10px;
}

.command {
  color: #0f0; /* Bright green for commands */
  margin-bottom: 5px;
}

.output {
  color: #e0e0e0; /* Muted gray/white for output */
  white-space: pre-wrap;
}

.output-line {
  opacity: 0;
  animation: fade-in 400ms ease-out forwards; /* Increased from 200ms to 400ms */
}

@keyframes blink {
  from, to { background-color: transparent }
  50% { background-color: #e0e0e0; }
}


@keyframes tree-bullet-pop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
