.tools-outer {
    display: grid;
    min-width: 100dvb;
    min-height: 100dvh;
    grid-template-columns: 2fr 1fr 2fr;
}

/* PasteIO */
.pasteIO-outer {
    display: grid;
    min-width: 100dvb;
    min-height: 100dvh;
    grid-template-columns: 1fr 1fr 1fr;
}
