nav {
    background-color: #172C35;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 15px 20px;
    padding-bottom: 30px;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 5px;

    /* background-color: rgba(255, 255, 255, 0.1); */
    padding: 5px 10px;
}

.navbar-home-link {
    color: #a7f3d0;
    text-decoration: none;
    font-family: 'monospace', monospace;
    font-size: 1.1em;
    padding: 5px 10px;
    border: 1px solid #a7f3d0;
    /* border-radius: 3px; */
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.navbar-home-link + .navbar-home-link {
    margin-left: -1px;
}

.navbar-home-link:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.navbar-home-link:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.navbar-home-link:not(:first-child):not(:last-child) {
    border-radius: 0; /* Remove border-radius for middle elements */
}

.navbar-home-link:hover {
    background-color: rgba(167, 243, 208, 0.2);
}

.navbar-home-link.active {
    background-color: #a7f3d0;
    color: #134e4a;
    font-weight: bold;
}